---
- name: "Create user {{ username }}"
  ansible.builtin.user:
    name: "{{ username }}"

- name: "Create systemd service file"
  ansible.builtin.template:
    src: templates/service.j2
    dest: "/etc/systemd/system/{{ geth_daemon_name }}.service"
    mode: "644"
  notify: restart_service

- name: "Install repository from PPA"
  ansible.builtin.apt_repository:
    repo: ppa:ethereum/ethereum
  when:
    - ansible_distribution == "Ubuntu"

- name: "Install apt package"
  ansible.builtin.apt:
    pkg: ethereum
    update_cache: true
    cache_valid_time: 86400
  when:
    - ansible_distribution == "Ubuntu"
  notify: restart_service

- name: "Ensure creation of data dir"
  ansible.builtin.file:
    dest: "{{ geth_config.Node.DataDir | default(data_dir) }}"
    state: directory
    owner: "{{ username }}"
    mode: "774"
