{{ ansible_managed | comment }}

[Unit]
Description=TRON Daemon
After=network.target

[Service]
Type=simple
User={{ username }}
WorkingDirectory={{ data_dir }}
ExecStart=java -Xmx{{ tron_heap_size }}g -XX:+UseConcMarkSweepGC -Dfastjson.parser.safeMode=true -jar {{ tron_jar }} -c main_net_config.conf
Restart=on-failure
RestartSec=3
LimitNOFILE=65535
Environment="LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libtcmalloc.so.4"
Environment="TCMALLOC_RELEASE_RATE=10"

[Install]
WantedBy=multi-user.target
