# {{ ansible_managed }}

[Unit]
Description={{ daemon_description }}
After=network.target

[Service]
Type=simple
User={{ username }}
ExecStart={{ daemon_exec_start }}
Restart=on-failure
RestartSec=3
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
