{{ ansible_managed | comment }}

[Unit]
Description={{ daemon_description }}
After=network.target

[Service]
Type=simple
User={{ username }}
ExecStart={{ chain_bin }} --config {{ data_dir }}/config.toml {{ extra_run_args }}
Restart=on-failure
RestartSec=3
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
