---
# <username> is the non-root user under which daemon will operate
username: geth

# <home_dir> is a user home dir
home_dir: "/home/{{ username }}"

# <chain_name> defines the chain to init
chain_name: ethereum

# <chain_name> is the chain executable
chain_bin: geth

# <extra_run_args> is an optinal extra flags
extra_run_args: ""

# <chain_data_dir> is the parametr which allows to override chain data location
chain_data_dir: "{{ home_dir }}/.ethereum"

# <chain_config_dir> is the chain config dir
chain_config_dir: "{{ chain_data_dir }}"

# <geth_daemon_name> is the name of the SystemD service file
geth_daemon_name: gethd

# <daemon_description> is the SystemD unit description
daemon_description: Ethereum Chain Daemon

geth_config: {}

default_geth_config:
  Eth:
    # full: Downloads all blocks (including headers, transactions, and receipts) and generates the state of the blockchain incrementally by executing every block.
    # fast: Downloads all blocks (including headers, transactions and receipts), verifies all headers, and downloads the state and verifies it against the headers.
    # snap: Same functionality as fast, but with a faster algorithm.
    # light: Downloads all block headers, block data, and verifies some randomly.
    SyncMode: "snap"
  Node:
    DataDir: "{{ chain_data_dir }}"
    HTTPHost: "0.0.0.0"
    HTTPPort: 8545
    HTTPVirtualHosts:
      - "*"
    HTTPModules:
      - eth
      - net
      - web3
  Metrics:
    Enabled: false
    HTTP: "0.0.0.0"
    Port: 6060
